# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.whl
MANIFEST

# Virtual environments
.venv/
.venv*/
venv/
env/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
nosetests.xml
test-results/

# mypy / pyright / pytype
.mypy_cache/
.dmypy.json
dmypy.json
.pyright/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# dotenv
.env
.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
